body {
    transition: 0.5s;
  }
  
  .scroll {
    animation: allbtn 1s 1s infinite;
    width: 70px;
    height: 70px;
    background: red;
  }
  @keyframes allbtn {
    0% {
      background: rgb(34, 193, 195);
      background: linear-gradient(
        0deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
      );
    }
    50% {
      background: rgb(63, 94, 251);
      background: radial-gradient(
        circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
      );
    }
    100% {
      background: rgb(131, 58, 180);
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
    }
  }